<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <section class="login-section">
      <div class="login-container">
        <div class="left-panel">
          <img src="../images/pawradise-logo.png" alt="" />
          <h1>Pawradise</h1>
          <form action="POST" class="login-form">
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <a href="#" class="forgot-pass">Forgot Password</a>
            <button class="submit-btn">Login</button>
          </form>
        </div>
        <div class="right-panel">
          <img src="../images/login-cover.png" alt="" />
        </div>
      </div>
    </section>
  </body>
</html>
